<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertActorController</servlet-name>
        <servlet-class>controller.InsertActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCalamityController</servlet-name>
        <servlet-class>controller.InsertCalamityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPropController</servlet-name>
        <servlet-class>controller.InsertPropController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchActorController</servlet-name>
        <servlet-class>controller.SearchActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchPropController</servlet-name>
        <servlet-class>controller.SearchPropController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCalamityController</servlet-name>
        <servlet-class>controller.SearchCalamityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditActorController</servlet-name>
        <servlet-class>controller.EditActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActorController</servlet-name>
        <servlet-class>controller.UpdateActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActorController</servlet-name>
        <servlet-class>controller.DeleteActorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPropController</servlet-name>
        <servlet-class>controller.EditPropController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePropController</servlet-name>
        <servlet-class>controller.UpdatePropController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropController</servlet-name>
        <servlet-class>controller.DeletePropController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropController</servlet-name>
        <servlet-class>controller.AddPropController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCalamityDetailController</servlet-name>
        <servlet-class>controller.ViewCalamityDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewPropCartController</servlet-name>
        <servlet-class>controller.viewPropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPropCartController</servlet-name>
        <servlet-class>controller.addPropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPropCartController</servlet-name>
        <servlet-class>controller.ViewPropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropCartController</servlet-name>
        <servlet-class>controller.AddPropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPropCartController</servlet-name>
        <servlet-class>controller.ConfirmPropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePropCartController</servlet-name>
        <servlet-class>controller.UpdatePropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropCartController</servlet-name>
        <servlet-class>controller.DeletePropCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewActorCartController</servlet-name>
        <servlet-class>controller.ViewActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddActorCartController</servlet-name>
        <servlet-class>controller.AddActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateActorCartController</servlet-name>
        <servlet-class>controller.UpdateActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmActorCartController</servlet-name>
        <servlet-class>controller.ConfirmActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActorCartController</servlet-name>
        <servlet-class>controller.DeleteActorCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadController</servlet-name>
        <servlet-class>controller.DownloadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnController</servlet-name>
        <servlet-class>controller.ReturnController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertController</servlet-name>
        <servlet-class>controller.InsertController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCalamityUserController</servlet-name>
        <servlet-class>controller.SearchCalamityUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCalamityDetailUserController</servlet-name>
        <servlet-class>controller.ViewCalamityDetailUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCalamityController</servlet-name>
        <servlet-class>controller.EditCalamityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCalamityController</servlet-name>
        <servlet-class>controller.UpdateCalamityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCalamityController</servlet-name>
        <servlet-class>controller.DeleteCalamityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEditController</servlet-name>
        <servlet-class>controller.ConfirmEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertActorController</servlet-name>
        <url-pattern>/InsertActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCalamityController</servlet-name>
        <url-pattern>/InsertCalamityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPropController</servlet-name>
        <url-pattern>/InsertPropController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchActorController</servlet-name>
        <url-pattern>/SearchActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchPropController</servlet-name>
        <url-pattern>/SearchPropController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCalamityController</servlet-name>
        <url-pattern>/SearchCalamityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditActorController</servlet-name>
        <url-pattern>/EditActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActorController</servlet-name>
        <url-pattern>/UpdateActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActorController</servlet-name>
        <url-pattern>/DeleteActorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPropController</servlet-name>
        <url-pattern>/EditPropController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePropController</servlet-name>
        <url-pattern>/UpdatePropController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropController</servlet-name>
        <url-pattern>/DeletePropController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropController</servlet-name>
        <url-pattern>/AddPropController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCalamityDetailController</servlet-name>
        <url-pattern>/ViewCalamityDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewPropCartController</servlet-name>
        <url-pattern>/viewPropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPropCartController</servlet-name>
        <url-pattern>/addPropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPropCartController</servlet-name>
        <url-pattern>/ViewPropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropCartController</servlet-name>
        <url-pattern>/AddPropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPropCartController</servlet-name>
        <url-pattern>/ConfirmPropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePropCartController</servlet-name>
        <url-pattern>/UpdatePropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropCartController</servlet-name>
        <url-pattern>/DeletePropCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewActorCartController</servlet-name>
        <url-pattern>/ViewActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddActorCartController</servlet-name>
        <url-pattern>/AddActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateActorCartController</servlet-name>
        <url-pattern>/UpdateActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmActorCartController</servlet-name>
        <url-pattern>/ConfirmActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActorCartController</servlet-name>
        <url-pattern>/DeleteActorCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadController</servlet-name>
        <url-pattern>/DownloadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnController</servlet-name>
        <url-pattern>/ReturnController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertController</servlet-name>
        <url-pattern>/InsertController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCalamityUserController</servlet-name>
        <url-pattern>/SearchCalamityUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCalamityDetailUserController</servlet-name>
        <url-pattern>/ViewCalamityDetailUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCalamityController</servlet-name>
        <url-pattern>/EditCalamityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCalamityController</servlet-name>
        <url-pattern>/UpdateCalamityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCalamityController</servlet-name>
        <url-pattern>/DeleteCalamityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEditController</servlet-name>
        <url-pattern>/ConfirmEditController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
